@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // Inputs
  .form-input {
    @apply rounded w-full;
  }

  .form-checkbox {
    @apply rounded cursor-pointer;
  }

  .form-checkbox-label {
    @apply ml-2 block text-sm text-gray-900 cursor-pointer;
  }

  .btn {
    @apply disabled:opacity-60;
  }

  // Buttons
  .btn-primary {
    @apply relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:ring-offset-2 bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500;
  }

  .btn-cancel {
    @apply ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .simple-table {
    @apply bg-white shadow rounded-lg w-full ring-1 ring-gray-200 overflow-hidden;

    thead {
      @apply border-b bg-gray-50;
    }

    &.white-header {
      thead {
        @apply border-b bg-white;
      }
    }

    th {
      @apply px-4 py-3 text-left;
    }

    .show-on-row-hover {
      display: none;
    }

    .table-actions {
      @apply text-right;
    }

    tbody {
      tr {
        @apply border-b hover:bg-gray-100;

        &:hover {
          .show-on-row-hover {
            @apply flex;
          }
        }

        &:last-of-type {
          @apply border-b-0;
        }
      }

      td {
        @apply px-4 py-3;
      }
    }

    .table-subtitle {
      @apply cursor-text text-left font-medium bg-gray-50 hover:bg-gray-50 border-b-gray-300;
    }

    .table-subtitle {
      td {
        @apply px-4 py-1.5;
      }
    }
  }

  .card {
    @apply bg-white shadow rounded p-6;
  }
}
